<h2 id="sponsors">Partners</h2>
<div>
    <a href="http://www.codingafterwork.com/" target="_blank"><img src="caw.png" alt="Coding After Work" class="sponsor" /></a>
    <a href="https://youtube.com/c/danielhindrikes" target="_blank"><img src="aic.png" alt="App In The Cloud" class="sponsor" /></a>
    @*<a href="https://kompilator.se/" target="_blank"><img src="kompilator.png" alt="Kompilator" class="sponsor" /></a>*@
</div>