<h2 id="sponsors">Sponsors</h2>
<div>
    @*<a href="https://www.telerik.com" target="_blank">
            <img width="300" src="Progress_Brandmark_RGB_Primary.png" alt="Progress" class="sponsor" />
        </a>
        <a href="https://packtpub.com" target="_blank"><img width="300" src="packt.png" alt="Packt" class="sponsor" /></a>
        <a href="https://docs.microsoft.com/" target="_blank"><img width="300" src="microsoft.png" alt="if" class="sponsor" /></a>
        <a href="https://www.if.se/developer" target="_blank"><img width="300" src="if.png" alt="if" class="sponsor" /></a>
        <a href="https://syncfusion.com" target="_blank"><img width="300" src="syncfusion.png" alt="syncfusion" class="sponsor" /></a>
        <a href="https://tretton37.com" target="_blank"><img width="300" src="tretton37.png" alt="tretton37" class="sponsor" /></a>*@
    <a href="https://1337.tech" target="_blank"><img width="300" src="1337.png" alt="13|37" class="sponsor" /></a>
</div>
<br /><br />
    Do you want to sponsor this event?
    Send an email to: <a href="mailto:info@dotnet-frontend.com">info@dotnet-frontend.com</a>

@code {

}
