@inject IJSRuntime JSRuntime;
@inject NavigationManager navigation;

<Router AppAssembly="@typeof(MainPage).Assembly" AdditionalAssemblies="new[]{ typeof(MainLayout).Assembly}">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(MainLayout)">
            <p>Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>

@code {

    [Parameter]
    public string Url { get; set; } = "/";

    protected override void OnParametersSet()
    {
        base.OnParametersSet();

        navigation.NavigateTo(Url);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);

        var languages = await JSRuntime.InvokeAsync<string[]>("navigatorLanguages");

        System.Globalization.CultureInfo.DefaultThreadCurrentUICulture = new System.Globalization.CultureInfo(languages.First());
        System.Globalization.CultureInfo.DefaultThreadCurrentCulture = new System.Globalization.CultureInfo(languages.First());
    }
}
